{%extends 'blogapp/base.html'%}
{%load static%}
{%block css%}
<link rel="stylesheet" href="{%static 'blogapp/home.css'%}" type="text/css">
{%endblock css%}

{% load humanize %}
{%block body%}

<section class="cards-wrapper">
    {%for post in posts%}
    <div class="card-grid-space">
        <a class="card" href="{%url 'post-detail' post.id%}"
           style="&#45;&#45;bg-img: url({{post.bg_pic.url}})">
            <div>
                <h3>{{post.title}}</h3>
                <p>{{post.content|slice:"43"}}..</p>
                <div class="date">Published {{post.date_posted|naturaltime}}</div>
                <div class="tags">
                    <div class="tag">By {{post.author}}</div>
                </div>
            </div>
        </a>
    </div>
    {%endfor%}
</section>
{%endblock body%}