{%extends 'blogapp/base.html'%}
{%load static%}
{%block css%}
<!--<link rel="stylesheet" href="{%static 'blogapp/home.css'%}" type="text/css">-->
{%endblock css%}
{%block body%}
{% load humanize %}

<div class="col-md-8 mx-auto">
    <h1 style="font-weight: 600;">{{post.title}}
    </h1>
    <div class="py-3 text-dark flex items-center justify-center">
        <small class="mr-3 flex flex-row items-center">
            <svg fill="currentColor" height="13px" width="13px" version="1.1" id="Layer_1"
                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z M277.333,256
			c0,11.797-9.536,21.333-21.333,21.333h-85.333c-11.797,0-21.333-9.536-21.333-21.333s9.536-21.333,21.333-21.333h64v-128
			c0-11.797,9.536-21.333,21.333-21.333s21.333,9.536,21.333,21.333V256z"/>
	</g>
</g>

</svg>
            <span>{{post.date_posted|naturaltime}}</span></small>
        <small><a href="#" class="flex flex-row items-center text-dark mr-3">
            <svg class="text-indigo-600" fill="currentColor" height="16px" aria-hidden="true" role="img"
                 focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor"
                      d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
            <span>{{post.author}}</span></a></small>
        {%if post.author == user%}
        <div style="display: flex;
    justify-content: flex-end;">
            <span class="ml-1"><a href="{%url 'update' object.id%}" style="color:black">Update</a></span>
            <span class="ml-1"><a href="{%url 'delete' object.id%}" style="color:black">Delete</a></span>
        </div>
        {%endif%}
    </div>
</div>

<div class="col-md-8 mx-auto"
     style="height: 400px; background-image:url({{post.bg_pic.url}}); background-size: cover; background-position: center; border-radius:5px">
</div>

<div class="col-lg-8 p-2 p-sm-4 mx-auto">
    <div class="text-secondary">
        <p class="my-2" style="line-height: 2;">{{post.content}}</p>
    </div>
</div>

{%endblock body%}